
@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/Index.css" rel="stylesheet" />
<div class="">

    <div class="">
        <section id="hero" class="hero-section align-center light-text window-height center-content text-center bg-cover">
            <div class="heading-block">
                <div class="container">

                    <div class="logo">
                        <img src="~/Images/brand-dotnet.png" />
                    </div>
                    <h1 class="hero-heading-main">
                        2020
                    </h1>
                    <div class="location">
                        29 February 2020 | International Hotel, Iasi, Romania
                    </div>
                    <div class="btns-container">

                    </div>
                </div>
            </div>
            <div class="counters-wrapper" style="height:90px;">
            </div>
        </section>
    </div>

</div>
<div class="container">
    <div class="row parent"></div>
</div>


