@{
    ViewData["Title"] = "Privacy Policy";

}
    <link href="~/css/Index.css" rel="stylesheet" />
<div class="">
    <div class="container text-content">
        <h1 class="title mv">Privacy policy</h1>

        <div class="row col-lg-9">
        </div>
    </div>

</div>
